swagger: '2.0'
info:
  description: >-
    This is the API specification for the GallerIT service. It allows you to
    discover photos, albums and their properties.
  version: 1.0.0
  title: GallerIT API Service
  contact:
    email: digit@chalmers.it
  license:
    name: MIT License
    url: 'https://mit-license.org'
host: gallerit.chalmers.it
basePath: /api/v1
schemes:
  - https
  - http
paths:
  /album:
    get:
      tags:
        - Albums
      summary: Retrives a list of albums
      description: >-
        Retrives a list of albums. Note that the images proprty of the albums
        wont be populated.
      operationId: getAlbums
      produces:
        - application/json
      parameters: []
      responses:
        '200':
          description: Successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/Album'
        '404':
          description: No albums found
  '/album/{albumId}':
    get:
      tags:
        - Albums
        - Images
      summary: Retrive album by ID
      description: Returns a single album
      operationId: getAlbumById
      produces:
        - application/json
      parameters:
        - name: albumId
          in: path
          description: ID of album to return
          required: true
          type: string
      responses:
        '200':
          description: Successful operation
          schema:
            $ref: '#/definitions/Album'
        '400':
          description: Invalid ID supplied
        '404':
          description: Album not found
  '/album/{albumId}/image/{imageId}':
    get:
      tags:
        - Images
      summary: Retrive image by ID
      description: Returns a single Image
      operationId: getImageById
      produces:
        - application/json
      parameters:
        - name: albumId
          in: path
          description: ID of album containing the image
          required: true
          type: string
        - name: imageId
          in: path
          description: ID of image (relative to album id)
          required: true
          type: string
      responses:
        '200':
          description: Successful operation
          schema:
            $ref: '#/definitions/Image'
        '400':
          description: Invalid ID supplied
        '404':
          description: Image not found
definitions:
  Image:
    type: object
    properties:
      id:
        type: integer
        format: int64
        example: 1234
      picture_url:
        type: string
        example: 'https://gallerit.example.org/media/1234'
      thumbnail_url:
        type: string
        example: 'https://gallerit.example.org/media/thumbnail/1234'
      photographer:
        type: string
        example: someone
      timestamp:
        type: integer
        format: int64
        example: 1514567794
  Album:
    type: object
    properties:
      id:
        type: integer
        format: int64
        example: 1234
      title:
        type: string
        example: digIT ASPNING 2018
      size:
        type: integer
        format: int64
        example: 31
        description: Number of images
      thumbnail_url:
        type: string
        example: 'https://gallerit.example.org/media/album/1234'
      images:
        type: array
        items:
          $ref: '#/definitions/Image'
      timestamp:
        type: integer
        format: int64
        example: 1514567794
        description: Same as latest image in the album
externalDocs:
  description: Project Repository
  url: 'https://github.com/cthit/gallerit'
